@require '~normalize-styl'
@import 'colors'
@import '~material-design-lite-stylus/src/material-design-lite'
@import 'variables'

.mdl-layout__container
    background convert("hsla("+$palette-grey-100+",1)")


.react-webpack-navigation
    @media (max-width: 960px)
        display none
    & .mdl-navigation__link
        border-bottom: 4px solid transparent

.react-webpack-navigation .mdl-navigation__link:hover
    border-bottom 4px solid convert("hsla("+$color-accent+",1)")

.mdl-mini-footer
    padding 10px 16px
